.header__lang-link {
  color: #fff;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  text-decoration: none;
  transition: opacity ease-in-out 0.3s;
}

.header__lang-link:hover {
  transition: opacity ease-in-out 0.3s;
  opacity: 80%;
}

@media screen and (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}
