.navigation-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 18px;
  justify-content: start;
  align-items: center;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .navigation-list {
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }
}
