@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

.page {
  background-color: #2a2c2f;
  font-family: "Inter", "Arial", sans-serif;
  color: #fff;
  width: 100%;
  margin: 0 auto;
}
/* --------------------------------------------------- */
.header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  min-height: 52px;
  max-width: 1184px;
  margin: 0 auto;
  padding: 28px 48px 56px;
  gap: 18px;
}

@media screen and (max-width: 1279px) {
  .header {
  }
}
@media screen and (max-width: 1023px) {
  .header {
    padding-right: 24px;
    padding-left: 24px;
  }
}
@media screen and (max-width: 767px) {
  .header {
    padding-right: 16px;
    padding-left: 16px;
  }
}

/* --------------------------------------------------- */

.header__logo {
  background-image: url("../images/header-logo.svg");
  background-size: cover;
  width: 176px;
  height: 52px;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .header__logo {
    width: 142px;
    height: 42px;
  }
}

/* --------------------------------------------------- */

.header__lang-link {
  color: #fff;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}

/* --------------------------------------------------- */

.header__lang-link_active {
  text-decoration: underline;
}

/* --------------------------------------------------- */
.lead {
  margin: 0 auto;
  max-width: 984px;
  padding: 0;
}

@media screen and (max-width: 1279px) {
  .lead {
    padding: 0 48px;
    max-width: 100%;
  }
}
@media screen and (max-width: 1023px) {
  .lead {
    padding: 0;
  }
}

/* --------------------------------------------------- */

.lead__title {
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  margin: 0 auto;
  padding-bottom: 32px;

  text-align: center;
}

@media screen and (max-width: 767px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
    max-width: 288px;
    padding-bottom: 16px;
  }
}

/* --------------------------------------------------- */

.lead__subtitle {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  margin: 0 auto;
  padding-bottom: 64px;
  max-width: 640px;
  text-align: center;
}

@media screen and (max-width: 1279px) {
  .lead__subtitle {
    padding-bottom: 56px;
  }
}

@media screen and (max-width: 767px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    max-width: 288px;
    padding-bottom: 40px;
  }
}
/* --------------------------------------------------- */

.lead__image {
  width: 100%;
  object-fit: contain;
  object-position: center;
  display: block;
}

/* --------------------------------------------------- */

.lead__image-caption {
  margin: 0;
  padding: 8px 0 0;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 1023px) {
  .lead__image-caption {
    padding-left: 24px;
  }
}

@media screen and (max-width: 767px) {
  .lead__image-caption {
    padding-left: 18px;
  }
}

/* --------------------------------------------------- */

.intro {
  max-width: 984px;
  margin: 0 auto;
  padding-top: 92px;
  min-height: 429px;
}

@media screen and (max-width: 1279px) {
  .intro {
    margin: 0;
    max-width: 690px;
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media screen and (max-width: 1023px) {
  .intro {
    padding-top: 88px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    padding-top: 64px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
/* --------------------------------------------------- */

.intro__text {
  max-width: 690px;
  padding: 0 0 33px;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 26.08px;
}

.intro__list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.55px;
}

.intro__list-thin-text {
  font-weight: 400;
}

/* ------------------- */

.intro__title {
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  padding: 0 0 40px;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
}

/* ------------------- */

.photo-grid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(4, 1fr);
  max-width: 1184px;
  gap: 16px;
  margin: 0 auto;
  padding: 92px 48px 0;
}

@media screen and (max-width: 1279px) {
  .photo-grid {
    max-width: 100%;
    gap: 14px;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid {
    gap: 16px;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(2, 1fr);
    padding-right: 24px;
    padding-left: 24px;
    padding-top: 88px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    box-sizing: content-box;
    gap: 12px;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 64px;
  }
}
/* ------------------------------------- */

.photo-grid__item {
  object-fit: contain;
  object-position: left top;
  width: 100%;
}

/* ------------------------------------- */
.places {
  max-width: 984px;
  margin: 0 auto;
  padding: 92px 0 92px;
}

@media screen and (max-width: 1279px) {
  .places {
    max-width: 100%;
    padding: 92px 48px 92px;
  }
}

@media screen and (max-width: 1023px) {
  .places {
    padding: 88px 24px 90px;
  }
}

@media screen and (max-width: 767px) {
  .places {
    padding: 64px 0 66px;
  }
}
/* ------------------------------------- */

.place {
  width: 100%;
  display: grid;
  grid-template-columns: fit-content(460px) 1fr;
  grid-template-areas:
    "title url"
    "img paragr";
  column-gap: 40px;
  row-gap: 48px;
  padding-bottom: 80px;
}

.place:last-child {
  padding-bottom: 0;
}

@media screen and (max-width: 1279px) {
  .place {
    grid-template-columns: fit-content(440px) 1fr;
    column-gap: 32px;
  }
}

@media screen and (max-width: 1023px) {
  .place {
    grid-template-columns: fit-content(340px) 1fr;
    column-gap: 28px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    grid-template-columns: 1fr;
    row-gap: 32px;
    grid-template-areas:
      "title"
      "url"
      "img"
      "paragr";
  }
}

.place__image {
  max-width: 460px;
  grid-area: img;
}

@media screen and (max-width: 1279px) {
  .place__image {
    max-width: 440px;
  }
}

@media screen and (max-width: 1023px) {
  .place__image {
    max-width: 340px;
  }
}

@media screen and (max-width: 767px) {
  .place__image {
    max-width: 100%;
  }
}
/* ------------------------------------- */
.place__title {
  grid-area: title;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  padding: 0;
  margin: 0;
  align-self: end;
  grid-row-start: 1;
  grid-column-start: 1;
}

@media screen and (max-width: 1023px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 767px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
    padding-left: 16px;
  }
}

/* ------------------------------------- */
.place__website {
  grid-area: url;
  align-self: end;
}

@media screen and (max-width: 767px) {
  .place__website {
    padding-left: 16px;
  }
}
/* ------------------------------------- */
.place__url-heading {
  color: #aaaaaa;
  font-weight: 400;
  font-size: 12px;
  line-height: 20.4px;
  letter-spacing: 2px;
  margin: 0;
  padding-bottom: 12px;
}

@media screen and (max-width: 1023px) {
  .place__url-heading {
    line-height: 12px;
  }
}
/* ------------------------------------- */
.place__link {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
}

.place__link:hover {
  text-decoration: underline;
}
/* ------------------------------------- */

.place__paragraph_container {
  grid-area: paragr;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

@media screen and (max-width: 1023px) {
  .place__paragraph_container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.place__paragraph {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 29.34px;
}

@media screen and (max-width: 1023px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
  }
}

.cover {
  position: relative;
  padding: 0;
  margin: 0 auto;
  max-width: 1184px;
}

@media screen and (max-width: 1279px) {
  .cover {
    width: 100%;
  }
}

/* @media screen and (max-width: 1023px) {
  .cover {
    max-width: 768px;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    max-width: 320px;
  }
} */

.cover__link {
  background-image: url("../images/cover-trains.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  text-decoration: none;
  min-height: 740px;
  color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

@media screen and (max-width: 1279px) {
  .cover__link {
    min-height: calc(100vw / 1.6);
  }
}

@media screen and (max-width: 1279px) {
  .cover__link {
    gap: 16px;
  }
}

.cover__link::before {
  content: "";
  background-color: #2a2c2f;
  transition: opacity ease-in-out 0.3s;
  opacity: 30%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.cover__link:hover::before {
  transition: opacity ease-in-out 0.3s;
  opacity: 80%;
}

.cover__title {
  z-index: 1;
  max-width: 560px;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  color: #fff;
  opacity: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .cover__title {
    font-size: 10vw;
    line-height: 1.1;
  }
}

.cover__subtitle {
  z-index: 1;
  max-width: 360px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding: 0;
  margin: 0;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
  }
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 92px 0 24px;
  margin: 0 auto;
  max-width: 1184px;
}

@media screen and (max-width: 1279px) {
  .footer {
    padding-top: 88px;
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media screen and (max-width: 1023px) {
  .footer {
    padding-top: 88px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding-top: 64px;
    padding-left: 16px;
    flex-direction: column;
    gap: 48px;
    align-items: flex-start;
  }
}

.navigation-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 18px;
  justify-content: start;
  align-items: center;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .navigation-list {
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }
}

.footer__link {
  color: #fff;
  text-decoration: none;
  transition: opacity ease-in-out 0.3s;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

.footer__link:hover {
  transition: opacity ease-in-out 0.3s;
  opacity: 80%;
}

.copyright {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
